

    @font-face {
        font-family: 'GmarketSansLight';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'GmarketSansBold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }


*{
    font-family: 'GmarketSansMedium';
    margin: 0px; padding: 0px;
    scroll-behavior: smooth;
    // background: #feffb5;
}
ul,li{list-style: none;}
a{color: #000; text-decoration: none;}

$fontSize_big01:150px;
$fontSize_intro:50px;

$fontSize_big_title:70px;

$fontSize_small:42px;
$fontSize_title:30px;
$fontSize_tag:20px;
$fontSize_p:18px;
$fontSize_p01:16px;

$fontSize_scroll01:100px;
$fontSize_scroll02:60px;
$fontSize_name:90px;

$fontSize_footer02:16px;

$color01:#f9fb75;
$color02:#a1ff8ac8;
$color03:#1c1c1c;
$color04:#CCE0FF;
$color05:#fff;
$color06:#3F8C51;
$color_main:#6DED6D;

@mixin border {
    border:3px solid $color03;
} 
@mixin border-left {
    border-left:3px solid $color03;
} 

@mixin page_width{
    width: 1400px; height: 100vh;
    margin: 0px auto;
}
@mixin center {
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
@mixin intro_txt {
    display: block;
    font-size:$fontSize_small;
    background: $color04;
    width: 288px; height: 85px; border-radius: 50px;
    line-height: 85px; 
    text-align: center;
}



//원페이지스크롤css
html,body {
    display: block;
    margin: 0;
    height: 100vh;
}
// html{scroll-behavior: smooth;}
body {overflow-x: hidden;}

// 헤더로고
    header{
        opacity: 0;
        transition: 0.3s;
    }

    @keyframes logo_ani {
        100%{transform: rotate(360deg);}
    }
    header h1 a img{
        position: fixed;
        top: 40px; left: 40px;
        animation: logo_ani infinite 5s linear;
        z-index: 5;
    }
    header h1 a:hover .home{
        opacity: 1;
    }
    header .home{
        opacity: 0;
        background: $color_main;
        width: 100px; height: 100px;
        line-height: 100px; text-align: center;
        position: fixed;
        top: 39px; left: 40px;
        border-radius: 50px;
        transition: 0.2s;    
        z-index: 6;    
    }
//메인
    main section, .end{
        @include page_width; 
        border: 0px solid transparent;
        overflow: hidden;
    }


//인트로
    .intro {position: relative;}
//내비게이션
    .intro nav {
        position: fixed;
        top: 30px; left: 0; right: 0px; 
        margin: 0px auto; width: 1400px;
        z-index: 99;
    }
    .intro nav ul{position: absolute; top: 0px; right: 0px;}
    .intro nav ul li{ 
        width: 38px; height: 38px; 
        border-radius: 50%;
        background: $color03;
        margin-bottom: 35px;


    }

    //내비게이션 hover
    .intro nav ul li:hover .menu{
        width: 100px;
        color: $color03;
        background: $color_main;
    }
    .menu {
        width: 0px; height: 40px;
        padding: 0px 20px;
        line-height: 40px;
        box-sizing: border-box;
        border-radius: 20px;
        transform: translate(-1px,-1px);
        transition: 0.3s;
        color: transparent;
    }
    .show{
        width: 100px;
        color: $color03;
        background: $color_main;
    }

    .intro h2{
        font-size: $fontSize_big01;
        margin: 40px 0px 0px -14px;
        font-weight: 100;
    }
    //왼쪽
    .intro_left{
        position: absolute;
        bottom: -24px;
    }
    .intro_left p{
        transform: translate(230px, -240px) rotate(-90deg);
        font-size: $fontSize_intro;
        letter-spacing: -1px;
    }
    //오른쪽
    .intro_right{
        position: absolute;
        bottom: 55px; right: 100px;
        font-size: $fontSize_intro;
        text-align: right;
        line-height: 58px;
    }
    .intro_right p span {
        text-decoration: 3px underline;
        text-underline-offset:14px;
        position: relative;
        top: -34px;
    }
    .smile{
        position: absolute;
        bottom: 0; right: -50px;
    }




    //인트로 백그라운드 이미지
    .back_img{
        width: 100%;
        position: absolute;
        top: 250px; 
    }
    .back_img > div:first-child{
        border-top: 3px solid $color03;
    }
    .back_img > div:last-child{
        width: 100%;
        height: 296px;
        margin-top: 20px;
        border-top: 3px solid $color03;
        border-bottom: 3px solid $color03;
    }
    .back_img path{
        transform: translate(0,-1px);
    }

    //벡터애니메이션
    .vector_ani{
        width: 100%;
        position: absolute;
        left: 0; right: 0;
        margin: 0px ;
        z-index: -1;
    }
    .vector_ani path {
        width: 100%;
        stroke-dasharray:0;
        stroke-dashoffset: 2800;
        // animation: ani01 infinite linear 5s;
    }
    @keyframes ani01 {
        0% {stroke-dashoffset: 2800;}
        100% {stroke-dashoffset: 0;}
        // 100% {stroke-dashoffset: 2800;}
    }




//프로필
    .profile{
        display: flex;
    }
    // 왼쪽wrap
    .profile > div{
        position: relative;
        left: 0px;
        width: 50%;
        border-right: 3px solid $color03;
        width: 49%;
    }
    .show1 {
        width: 100%; height: 100vh;
        background:$color05;
        position: absolute;
        z-index: 1;
    }
    .show1 h3{ //제목
        font-size: $fontSize_big_title;
        padding-top: 180px;
        line-height: 90px;
        font-weight: 100;
    }
    #good{
        // line-height: 80px !important;
        margin-bottom: 20px;
    }
    #good span{      
        position: relative; top: -2px;  
        text-underline-offset:14px;
        text-decoration: underline 4px; 

    }
    #under{text-decoration: underline 4px; text-underline-offset:14px;}
    #name{
        font-size: $fontSize_name; margin-top: 15px; 
        display: inline-block;
        position: relative;
    }
    #name::after{
        content: "";
        width:0px; height: 60px;
        background: $color_main;
        // background: $color01;
        position: absolute;
        top: 20px; left: 0;
        z-index: -1;
    }
    #name.active::after {
        // width: 286px;
        width: 510px;
        transition: 1s;
    }
    #book {
        width: 70px;
        transform: translate(550px, -398px);
        animation: book 2s infinite;
    }
    // @keyframes book {
    //     0%{transform: translate(450px, -500px);}
    //     50%{transform: translate(450px, -490px);}
    //     100%{transform: translate(450px, -500px);}
    // }




    #emo{
        width: 140px;
        position: absolute;
        top: 450px; left: 530px;
        z-index: 99;
    }


    




    // 오른쪽wrap
    .profile > ul{
        width: 49%; height: 100vh;
        position: absolute;
        right: 0px;
        @include border-left;
        padding: 190px 0px 0px 70px;
        box-sizing: border-box;
    }
    .profile .subtitle{
        font-family: 'GmarketSansBold';
        font-size: $fontSize_title;
        line-height: 26px;
        margin-bottom: 50px;
        position: relative;
    }
    .profile .subtitle ul{margin-top: 20px;}
    .profile .subtitle ul li{font-size: $fontSize_p;}
    // .sns_wrap {
    //     display: flex;
    //     justify-content: space-between; 
    //     width: 220px; 
    //     transform: translateY(-10px);
    // }
    .profile .subtitle > ul > li:first-child{padding-top: 10px;}
    .keyword{
        display: flex;
    }
    .keyword li{
        padding: 4px 25px;
        border:1px solid $color03;
        border-radius: 30px;
    }
    #name2{font-size: $fontSize_title !important;}
    .keyword li:nth-child(2){transform: translateX(-14px);}
    .keyword li:nth-child(3){transform: translateX(-28px);}
    #hand{
        width: 8%;
        transform: scaleX(-1) rotate(-40deg);
        position: absolute;
        top: -15px; left: 130px;
        animation: hand 1.6s infinite;
    }
    @keyframes hand {
        0%{top: -15px; left: 130px;}
        50%{top: -25px; left: 140px;}
        100%{top: -15px; left: 130px;}
    }
    // .sns_wrap img{width: 74%;}
    // .mail:hover{
    //     cursor:url('../images/mail01.png') 0 30 , auto;
    // }
    // .call:hover{
    //     cursor:url('../images/call01.png') 0 30, auto;
    // }
    // .github:hover{
    //     cursor:url('../images/github01.png') 0 30, auto;
    // }

    .profile .skill_wrap{
        display: flex; flex-wrap: wrap;
        width: 600px;
    }
    .profile .skill_wrap li{
        background: $color04;
        padding: 6px 20px;
        border-radius: 30px;
        margin: 0px 10px 15px 0px;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .profile .skill_wrap li:hover{
        color: rgba(251, 105, 105, 0);
    }

    //hover이벤트 70%, 50% 넣기
    .profile .skill_wrap li:after{
        position: absolute;
        content: "";
        width: 0; height: 100%;
        top: 0; right: 0;
        z-index: -1;
        background: $color_main;
        // background: rgb(251, 105, 105);
        transition: 0.25s;
    }
    .profile .skill_wrap li:hover:after{
        cursor: pointer;
        left: 0; width: 100%;
    }
    @mixin persentCSS{
        padding-top: 8px;
        text-align: right;
        padding-right: 5%;
        color: $color03;
    }
    @mixin persent01 {
        content: "70%";
        @include persentCSS;
    }
    @mixin persent02 {
        content: "80%";
        @include persentCSS;
        box-sizing: border-box;
    }
    @mixin persent03 {
        content: "50%";
        @include persentCSS;
    }

    .profile .skill_wrap li:first-child:hover:after,
    .profile .skill_wrap li:nth-child(3):hover:after,
    .profile .skill_wrap li:nth-child(4):hover:after,
    .profile .skill_wrap li:nth-child(5):hover:after,
    .profile .skill_wrap li:nth-child(6):hover:after{
        width: 70%;
        @include persent01;
    }

    .profile .skill_wrap li:nth-child(2):hover:after{
        width: 80%;
        @include persent02;
    }
    
    .profile .skill_wrap li:nth-child(7):hover:after,
    .profile .skill_wrap li:nth-child(8):hover:after{
        width: 50%;
        @include persent03;
    }

    
// 프로젝트
    .project{
        position: relative;
    }

    //프로젝트 슬라이드 전체!!
    .slide{
        height: 100vh;}

    //프로젝트 왼쪽
    .list_intro{
        position: absolute;
        margin: 0px 0px 0px 0px;
    }
    .list_intro h3{
        font-size: $fontSize_big_title;
        font-weight: 100;
        line-height: 70px;
        transform: translate(580px, 250px);
    }
    .list_intro p{
        font-size: $fontSize_p;
        padding: 540px 0px;
        line-height: 30px;
    }
    #tri{
        width: 0; height: 0;
        border-bottom: 70px solid $color_main;
        border-left: 70px solid transparent;
        position: absolute;
        top: 796px; left: 850px;
    }
    // .list_intro{
    //     position: absolute;
    //     left: 1px;
    //     width: 80%; height: 100vh;
    //     overflow: hidden;
    //     display: flex;
    //     font-size:$fontSize_p01;
    //     text-decoration: underline #f00; text-underline-offset:5px; 
    //     line-height: 22px;
    // }
    // .list_intro > div{
    //     margin-right: 20px;
    // }
    // .list_intro > div div{
    //     border-radius: 18px;
    // }
    // .list_intro > div:last-child{
    //     margin-top: 300px;
    // }
    // .ex{
    //     width: 290px; height: 300px;
    //     background: $color01;
    //     position: relative;
    //     padding: 40px;
    //     box-sizing: border-box;
    // }
    // .ex3{height: 170px;}
    // .ex h3{
    //     position: absolute;
    //     top: 40px; right: 40px;
    //     font-size: $fontSize_p;
    //     line-height: 40px;
    //     // margin-bottom: 50px;
    // }


    // .list_intro img{width: 100%;}
    // .eximg{
    //     width: 290px;
    //     overflow: hidden;
    //     margin: 20px 0px 20px 0px;
    //     box-shadow: 1px 4px 10px #00000035;
    // }
    // .img02{height: 700px;}




    // //프로젝트 리스트4개 wrap !!
    .list_wrap{
        display: flex;
        width: 20%;
        position: absolute;
        right: 0;
        margin-left: -1448px;
    }
    .list{        
        width: 20%; height: 100vh;
        position: relative; //span부모
        @include border-left;
        left: 0;
    }
    // 리스트 span *****************구조수정??
    .list_tag{
        width: 120px; height: 80px;
        line-height: 120px;
        text-align: center;
        font-size: $fontSize_tag;
        @include border;
        background: #6DED6D;
        //태그위치
        transform: rotate(90deg);
        position: absolute;
        left: -106px; top: 760px;
        cursor: pointer;
        transition: 0.3s;
    }
    .list_tag:hover{
        background: $color03;
        color: $color_main;
    }
    .on_tag{
        background: $color03;
        color: $color_main;
    }
    .jeju{top: 616px;}
    .guess{top: 552px;}
    .kartell{top: 649px;}

    //슬라이드제이쿼리
    .expanded{width: 100%;}


    //프로젝트내용
    .list dd{
        width: 1400px;
        padding: 200px 100px;
        box-sizing: border-box;
        background: $color05;
        line-height: 24px;
    }
    .list dd h4{font-size: $fontSize_small !important; margin-bottom: 20px;}

    .list_con {
        width: 980px;
        padding-top: 30px;
        display: flex; justify-content: space-between;
    }
    .list_right {
        margin-top: 70px;
        line-height: 40px;
    }

    //툴 wrap
    .tool_wrap{
        display: flex;
        margin-bottom: 30px;
    }
    .tool_wrap li {
        width: 80px; height: 80px;
        background: $color04; border-radius: 20px;
        margin-right: 10px;
        line-height: 80px; text-align: center;
        font-family: 'GmarketSansBold' !important;
    }
    .p_btn{
        display: block;
        width: 266px; height: 60px;
        background: $color03; color: $color05;
        text-align: center; line-height: 60px;
        border-radius: 30px;
        margin: 10px 0px;
        transition: 0.3s;
    }
    .p_btn:hover{
        background: $color_main;
        color: $color03;
        transform: translate(0,-5px);
    }


    // overflow hidden
    .hidden{
        width: 1400px;
        height: 100vh;
        background: $color05;
        position: absolute;
        top: 0; left: 1400px;
        z-index: 9;
    }



//uiux디자인 (실시간검색순위)
    .lineBox1{
        position: absolute;
        border-right: 3px solid $color03;
        width: 1297px; height: 100vh;
    }
    .lineBox2{
        position: absolute;
        border-right: 3px solid $color03;
        width: 1260px; height: 100vh;
    }

    //타이틀
    .uiux{position: relative;}
    .uiux_title{
        font-size: $fontSize_big_title;
        font-weight: 100;
        position: absolute;
        top: 150px; right: 180px;
        text-align: right;
    }
    .uiux_title::after{
        content: "";
        width: 636px;
        height: 95px;
        background: $color_main;
        position: absolute;
        top: 40px; right: 0;
        z-index: -1;
    }

    //순위롤 
    .box{position: relative;}
    .boxIn {
        margin-top: 260px;
        position: relative;
        left: -100px;
    }

    //순위 제목
    .boxIn li {
        width: 50%;
        font-size: $fontSize_scroll02;
        text-align: center;
    }
    .boxIn > li:nth-child(3){
        font-size: $fontSize_scroll01;
        //글자 테두리
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $color03;
        color: transparent;

    }

    //카드 wrap
    .uiux01{
        position: absolute;
        right: 80px; top: 64px;
        width: 636px;
    }
    .uiux01 img {
        position: relative;
        transition: transform 0.5s;
        border-radius: 20px;
        width: 100%;
    }
    .flipped2{
        transform: translateZ(-50px) rotateY(180deg); /* 이미지를 뒤로 이동하고 회전합니다. */
    }
    .card {
        position: absolute; top: 0; left: 0;
        font-size: $fontSize_p;
        width: 100%; height: 91%;
        border-radius: 20px;
        background: $color_main;
        padding: 50px;
        box-sizing: border-box;
        font-family: 'GmarketSansLight';
        backface-visibility: hidden;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        transform: rotateY(180deg); /* 카드를 뒤집은 상태. */
    }
    .card.flipped {
        transform: rotateY(0deg); /* 카드 다시 앞면 */
    }
    .card a {
        display: block;
        width: 100px; height: 100px;
        line-height: 100px;
        border-radius: 50%;
        color: $color05;
        background: $color03 ;
        font-family: 'GmarketSansLight';
        transition: 0.2s;
        position: absolute;
        bottom: 20px; right: 20px;
    }
    .card a:hover{
        background: $color05;
        color: $color03;
    }

//푸터
    .end{
        position: relative;
    }
    .end h3 img{
        width: 100px;
        position: absolute;
        top: 42px; right: 420px;
    }
    .end h3{
        font-size: $fontSize_big_title;
        font-weight: 100;
        position: absolute;
        top: 400px;
        line-height: 80px;
    }
    .end address{
        font-size: $fontSize_footer02; font-style: normal;
        line-height: 20px;
        position: absolute;
        bottom: 100px;
    }
    .end div{
        width: 333px; 
        position: absolute;
        top: 275px; right: 140px;
    }
    .end div > img{margin-bottom: 20px;}
    .sns_wrap{
        width: 333px;
        display: flex;
        position: absolute;
        top: 210px; right: 0px;
        justify-content: space-around;
    }
    .sns_wrap img{width: 70px;}



